In [1]:
import data as data
import pandas as pd
import json
import tiktoken

%load_ext autoreload
%autoreload 2

In [2]:
data.set_db_path('CBSdatabase.db')
ids = data.get_tables_database()

## Generating the JSON with the column and table information

In [9]:
column_info = data.get_column_info(ids)
column_info.rename(columns={'Title': 'TitleColumn'}, inplace=True)
table_info = data.get_all_tables_info()
table_info.rename(columns={'Title': 'TitleTable'}, inplace=True)
# join both tables on the column 'Identifier'
all_info = pd.merge(column_info, table_info, on='Identifier')
grouped = all_info.groupby('Identifier')
table_info_with_columns = all_info[['TitleColumn', 'TitleTable', 'Identifier', 'Summary']]
table_info_with_columns.drop_duplicates(inplace=True)
table_info_with_columns.reset_index(drop=True, inplace=True)
grouped_table_with_columns = table_info_with_columns.groupby('Identifier').agg({
    'TitleTable': 'first',
    'Summary': 'first',
    'TitleColumn': ' | '.join
}).reset_index()

C:\Users\Mario\AppData\Local\Temp\ipykernel_17924\2064667675.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_info_with_columns.drop_duplicates(inplace=True)

In [14]:
# This json contains the table info and the column titles

grouped_table_with_columns.to_json('table_info.json', orient='records', lines=True)

In [26]:
output = []
for table_id, group in grouped:
    # Grab the first row to get the common table-level info
    row = group.iloc[0]
    
    # Create a list of column dictionaries
    columns_list = group[["TitleColumn", "Description"]].to_dict(orient="records")
    
    # Build the structure for this table
    table_dict = {
        "table_id": table_id,
        "title": row["TitleTable"],
        "summary": row["Summary"],
        "columns": columns_list
    }
    
    # Add the structure to our output list
    output.append(table_dict)

json_output = json.dumps(output, indent=2)
# save the file
with open('data/all_info.json', 'w') as f:
    f.write(json_output)

## Finding one table in the JSON

In [9]:

# 1) Load the JSON file into a Python list of dicts
with open("data/all_info.json", "r") as file:
    all_info = json.load(file)  # data is a list of dicts

# 2) Suppose we want the entry where table_id == "table2"
ids = data.get_tables_database()
table_to_find = ids[20]

# 3) We can loop or use a generator expression to find it
table_info = next((item for item in all_info if item["table_id"] == table_to_find), None)

if table_info:
    print(f"Found table: {table_info}")
else:
    print("Not found.")

Found table: {'table_id': '82659ENG', 'title': 'Caribbean Netherlands, Bonaire; import and export values, SITC', 'summary': 'Import, export value and trade balance of Bonaire \naccording to SITC classification.', 'columns': [{'TitleColumn': 'Categories of goods (SITC)', 'Description': ''}, {'TitleColumn': 'Periods', 'Description': ''}, {'TitleColumn': 'Import value', 'Description': 'The value of foreign-supplied goods to residents of Bonaire according to international trade statistics, including freight and insurance costs to the border of Bonaire.'}, {'TitleColumn': 'Export value', 'Description': 'The value of the goods supplied to residents outside Bonaire according to the international trade statistics, including freight and insurance costs to the border of Bonaire.\r\n\r\n'}, {'TitleColumn': 'Balance of trade', 'Description': 'Export value minus import value.'}, {'TitleColumn': 'Year-on-year changes in imports/exports', 'Description': None}, {'TitleColumn': 'Import value', 'Description': 'Percentage change on the same period of the previous year.'}, {'TitleColumn': 'Export value', 'Description': 'Percentage change on the same period of the previous year.'}]}

## Token estimation for user question generation

In [8]:
def estimate_tokens(text, model="gpt-4o"):
    # Initialize tokenizer for the specific model
    tokenizer = tiktoken.encoding_for_model(model)
    # Tokenize the input text
    tokens = tokenizer.encode(text)
    return len(tokens)

In [ ]:
# Token estimation for the user quesstion generation

prompt_start = 'Use the following table metadata to generate three specific questions that can be answered by running an SQL query on this table. Each question must be closely aligned to this table’s content and not applicable to a different dataset. Output the questions and the table_id for each in JSON format. Do not include any additional text in your answer.'
prompts = []
n_tokens = 0
for id in ids:
    table_info = next((item for item in all_info if item["table_id"] == id), None)
    # write result as string
    table_info = json.dumps(table_info)
    prompt = prompt_start + table_info
    prompts.append(prompt)
    n_tokens += estimate_tokens(prompt) + 150  # Added 150 tokens for the estimated number of tokens in the model's response (see calculation below)
print('Expected number of tokens:', n_tokens)

In [ ]:
n_prompts = 10
# select n_prompts random prompts
import random
random_prompts = random.sample(prompts, n_prompts)
random_prompts

['Use the following table metadata to generate three specific questions that can be answered by running an SQL query on this table. Each question must be closely aligned to this table’s content and not applicable to a different dataset. Output the questions and the table_id for each in JSON format. Do not include any additional text in your answer.{"table_id": "80030eng", "title": "Electricity and heat; production and input by energy commodity", "summary": "Production of electricity and heat, input of energy commodities\\nCentral/decentral production, energy commodities", "columns": [{"TitleColumn": "Central/decentral production", "Description": ""}, {"TitleColumn": "Energy commodities", "Description": "An energy commodity is energy, and may take the form of a fuel, heat or power."}, {"TitleColumn": "Periods", "Description": null}, {"TitleColumn": "Gross production electricity and heat", "Description": "The production of electricity and/or heat from the input of fossil fuels, renewable energy commodities, nuclear energy and other energy commodities, included the electricity consumption of the power plants."}, {"TitleColumn": "Total electricity and heat (TJ)", "Description": "Total production of electricity and heat reported in TJ (terajoule = 1,000 billion Joules)."}, {"TitleColumn": "Electricity", "Description": "Flow of electrons used to light lamps or to operate washing machines. Electrons are elementary particles in an atom with a negative charge that flow by a potential difference. In practice the potential difference is generated by for example electricity power plants, wind turbines or batteries."}, {"TitleColumn": "Electricity (MWh)", "Description": "The production of electricity reported in MWh (megawatt-hours). MWh is the physical unit of electricity. The Dutch household consumption of electricity in 2010 was on average 3.3 MWh."}, {"TitleColumn": "Electricity (TJ)", "Description": "The production of electricity reported in TJ (terajoule). By expressing electricity in TJ (terajoule = 1,000 billion Joules) this can be compared energetically with other energy commodities. 1 MWh equals 0.0036 TJ."}, {"TitleColumn": "Electricity (%)", "Description": "Percentage of electricity production relative to the total electricity produced in that year."}, {"TitleColumn": "Heat (TJ)", "Description": "Production of steam and heat reported in TJ (terajoule = 1,000 billion Joules)."}, {"TitleColumn": "Input (TJ)", "Description": "Amount of fossil fuels, biomass, nuclear energy and other energy commodities consumed for the production of electricity and/or heat reported in TJ (terajoule = 1,000 billion Joules)."}]}',
 'Use the following table metadata to generate three specific questions that can be answered by running an SQL query on this table. Each question must be closely aligned to this table’s content and not applicable to a different dataset. Output the questions and the table_id for each in JSON format. Do not include any additional text in your answer.{"table_id": "85799ENG", "title": "Caribbean Netherlands; waterbalance ", "summary": "Caribbean Netherlands and Periods\\nProduction, consumption and connections", "columns": [{"TitleColumn": "Caribbean Netherlands", "Description": ""}, {"TitleColumn": "Periods", "Description": ""}, {"TitleColumn": "Supply", "Description": "The amount of water that has become available for consumption."}, {"TitleColumn": "Production", "Description": "The volume of mains water produced by the water company. Local production, for example by hotels, is not included.\\r\\n"}, {"TitleColumn": "Losses/Statistical difference", "Description": "The amount of water discharged through leakage plus the difference between supply and consumption."}, {"TitleColumn": "Consumption", "Description": "The amount of water available for consumption."}, {"TitleColumn": "Total households and companies", "Description": "Concerns the total consumption of water by households and companies."}, {"TitleColumn": "Households", "Description": "The amount of consumption on the water network with a household rate.\\r\\nThe household rate applies to houses, flats and apartments intended for residential purposes."}, {"TitleColumn": "Companies", "Description": "The amount of consumption on the water network with a business rate.\\r\\nThe business rate applies to small businesses, hotels, industry, schools and churches."}, {"TitleColumn": "Connections", "Description": "Number of mains water connections.\\r\\nMains water network: a structure of pipes and interconnected couplings, valves and other technical provisions for the transport and supply of mains water."}, {"TitleColumn": "Total households and companies", "Description": "Households and companies."}, {"TitleColumn": "Households", "Description": "Number of connections to the mains water network with a household tariff.\\r\\nThe household tariff applies to houses, flats and apartments intended for residential purposes."}, {"TitleColumn": "Companies", "Description": "Number of connections to the mains water network with a business tariff.\\r\\nThe business tariff applies to among other things small business, hotels, factories, schools and churches."}]}',
 'Use the following table metadata to generate three specific questions that can be answered by running an SQL query on this table. Each question must be closely aligned to this table’s content and not applicable to a different dataset. Output the questions and the table_id for each in JSON format. Do not include any additional text in your answer.{"table_id": "84747ENG", "title": "Composition development of goods exports: exporter characteristics", "summary": "Export growth and Contribution to total export growth\\nSize independent SME\'s; SIC 2008; Multinationals and Export status", "columns": [{"TitleColumn": "Characteristic of exporter   ", "Description": ""}, {"TitleColumn": "Periods", "Description": ""}, {"TitleColumn": "Export growth", "Description": "Year-on-year changes in absolute value. Annual changes for 2015 were omitted due to the break in series 2014/2015."}, {"TitleColumn": "Contribution to total export growth", "Description": "The contribution of a specific category to the total percentage growth in goods exports, calculated by dividing the absolute change in a category by the total value change of goods exports, multiplied by the annual change of goods exports as a percentage."}]}',

In [3]:
# Here there are 13 user questions manually generated.
responses = []
response1 = [
  {
    "table_id": "82659ENG",
    "question": "What were the import and export values for specific categories of goods in Bonaire during a given period?"
  },
  {
    "table_id": "82659ENG",
    "question": "How has the trade balance of Bonaire changed year-on-year for specific categories of goods?"
  },
  {
    "table_id": "82659ENG",
    "question": "Which categories of goods experienced the highest percentage change in import or export values over the last year in Bonaire?"
  }
]
responses += response1

response2 = [
  {
    "table_id": "80783eng",
    "question": "What is the total number of farms producing specific types of crops or raising specific livestock in different regions?"
  },
  {
    "table_id": "80783eng",
    "question": "How has the utilisation of agricultural land, such as arable land and grassland, varied across different regions and farm types over time?"
  },
  {
    "table_id": "80783eng",
    "question": "What are the trends in the production of specific crops, such as potatoes or cereals, and their distribution by farm type and region?"
  }
]
responses += response2

response3 = [
  {
    "table_id": "80784eng",
    "question": "What is the total number of persons employed in agricultural holdings, categorized by region and gender?"
  },
  {
    "table_id": "80784eng",
    "question": "How many annual work units (AWU) are contributed by family and non-family labour in different regions?"
  },
  {
    "table_id": "80784eng",
    "question": "What is the distribution of family and non-family labour across regions, including the roles of holders, spouses, and other regularly employed persons?"
  }
]
responses += response3

response4 = [
  {
    "table_id": "80030eng",
    "question": "What is the total electricity and heat production in terajoules (TJ) for each energy commodity and production type (central/decentral) over a given period?"
  },
  {
    "table_id": "80030eng",
    "question": "How does the input of different energy commodities (in TJ) compare to the gross production of electricity and heat for central and decentral production?"
  },
  {
    "table_id": "80030eng",
    "question": "What is the percentage contribution of electricity production relative to the total electricity and heat produced for each year?"
  }
]
responses += response4

response5 = [
  {
    "table_id": "85799ENG",
    "question": "What is the total water supply, production, and losses/statistical difference for each period in the Caribbean Netherlands?"
  },
  {
    "table_id": "85799ENG",
    "question": "How does water consumption by households and companies compare to the total supply for different periods in the Caribbean Netherlands?"
  },
  {
    "table_id": "85799ENG",
    "question": "What is the number of mains water connections for households and companies in the Caribbean Netherlands over time?"
  }
]
responses += response5

response6 = [
  {
    "table_id": "84747ENG",
    "question": "What is the year-on-year export growth for different exporter characteristics during specific periods?"
  },
  {
    "table_id": "84747ENG",
    "question": "How much did each exporter characteristic contribute to the total export growth during specific periods?"
  },
  {
    "table_id": "84747ENG",
    "question": "What are the trends in export growth and their contributions to total export growth for specific periods across all exporter characteristics?"
  }
]
responses += response6

response7 = [
  {
    "table_id": "82823ENG",
    "question": "What is the total value of debt guarantees provided by the government for different sectors during specific periods?"
  },
  {
    "table_id": "82823ENG",
    "question": "What is the adjusted capital value of off-balance public-private partnerships (PPPs) for each sector over time?"
  },
  {
    "table_id": "82823ENG",
    "question": "How have non-performing loans varied across sectors and periods, and what percentage of GDP do they represent?"
  }
]
responses += response7

response8 = [
  {
    "table_id": "83396ENG",
    "question": "What is the price index of sold dwellings on Bonaire for each year, and how does it compare to the base year 2011?" # This one contains something we should be careful with. In this table, 2011 is the base year, so it appears in the user question.
  },
  {
    "table_id": "83396ENG",
    "question": "What is the percentage change in the price of sold dwellings compared to the previous year for different periods on Bonaire?"
  },
  {
    "table_id": "83396ENG",
    "question": "How has the number of sold dwellings on Bonaire changed over time, including year-on-year percentage changes?"
  }
]
responses += response8

response9 = [
  {
    "table_id": "84823ENG",
    "question": "What percentage of dwellings experienced rent increases, reductions, or remained unchanged for different types of rentals during specific periods?"
  },
  {
    "table_id": "84823ENG",
    "question": "How does the percentage of rent increases compare across different types of landlords over time?"
  },
  {
    "table_id": "84823ENG",
    "question": "What are the trends in rent reductions for various types of rentals across different periods?"
  }
]
responses += response9

response10 = [
  {
    "table_id": "84422ENG",
    "question": "What is the total value of assets, liabilities, and net worth for the government during specific periods?"
  },
  {
    "table_id": "84422ENG",
    "question": "How have non-financial assets, such as dwellings, transport equipment, and civil engineering works, contributed to the total assets of the government over time?"
  },
  {
    "table_id": "84422ENG",
    "question": "What are the changes in government net worth during different periods, and how do they relate to assets and liabilities?"
  }
]
responses += response10

response11 = [
  {
    "table_id": "84336ENG",
    "question": "What is the total and median gross received inheritance for different connections with the deceased person during specific periods?"
  },
  {
    "table_id": "84336ENG",
    "question": "How does the total amount of tax due on inheritances vary across different characteristics of receivers and periods?"
  },
  {
    "table_id": "84336ENG",
    "question": "What is the mean and median net received inheritance for various connections with the deceased person during specific periods?"
  }
]
responses += response11

response12 = [
  {
    "table_id": "85828ENG",
    "question": "What is the turnover index for different branches compared to the base year 2021 during specific periods?"
  },
  {
    "table_id": "85828ENG",
    "question": "How does the calendar-adjusted production or turnover differ across various branches over time?"
  },
  {
    "table_id": "85828ENG",
    "question": "What is the percentage change in turnover compared to the previous period for specific branches and periods?"
  }
]
responses += response12

response13 = [
  {
    "table_id": "83698ENG",
    "question": "What is the population of the Caribbean Netherlands on January 1st, broken down by sex and age for specific periods?"
  },
  {
    "table_id": "83698ENG",
    "question": "How does the population of the Caribbean Netherlands vary by marital status and age group during specific periods?"
  },
  {
    "table_id": "83698ENG",
    "question": "What are the trends in the population of the Caribbean Netherlands on January 1st, segmented by sex, age, and marital status over time?"
  }
]
responses += response13

responses = json.dumps(responses, indent=2)
with open('user_questions_small.json', 'w') as f:
    f.write(responses)

In [13]:
# Estimated size of the response
n_responses = 13
estimate_tokens(responses)/n_responses

122.23076923076923

In [6]:
data.set_db_path('CBSdatabase.db')

In [3]:
data.get_database_schema1()

{'80783eng':      cid                   name     type  notnull dflt_value  pk
 0      0                     ID  INTEGER        0       None   0
 1      1              FarmTypes     TEXT        0       None   0
 2      2                Regions     TEXT        0       None   0
 3      3                Periods     TEXT        0       None   0
 4      4   NumberOfFarmsTotal_1  INTEGER        0       None   0
 ..   ...                    ...      ...      ...        ...  ..
 148  148            Turkeys_145  INTEGER        0       None   0
 149  149  DucksForFattening_146  INTEGER        0       None   0
 150  150       OtherPoultry_147  INTEGER        0       None   0
 151  151            Rabbits_148  INTEGER        0       None   0
 152  152      FurredAnimals_149     REAL        0       None   0

 [153 rows x 6 columns],
 '80784eng':     cid                              name     type  notnull dflt_value  pk
 0     0                                ID  INTEGER        0       None   0
 1     1                            Gender     TEXT        0       None   0
 2     2                           Regions     TEXT        0       None   0
 3     3                           Periods     TEXT        0       None   0
 4     4          RegularlyEmployedTotal_1     REAL        0       None   0
 5     5               FamilyLabourTotal_2     REAL        0       None   0
 6     6                          Holder_3     REAL        0       None   0
 7     7                          Spouse_4     REAL        0       None   0
 8     8                   FamilyWorkers_5     REAL        0       None   0
 9     9            NonFamilyLabourTotal_6     REAL        0       None   0
 10   10                         Manager_7     REAL        0       None   0
 11   11   OtherPersonsRegularlyEmployed_8     REAL        0       None   0
 12   12            NotRegularlyEmployed_9     TEXT        0       None   0
 13   13         RegularlyEmployedTotal_10     REAL        0       None   0
 14   14              FamilyLabourTotal_11     REAL        0       None   0
 15   15                         Holder_12     REAL        0       None   0
 16   16                         Spouse_13     REAL        0       None   0
 17   17                  FamilyWorkers_14     REAL        0       None   0
 18   18           NonFamilyLabourTotal_15     REAL        0       None   0
 19   19                        Manager_16     REAL        0       None   0
 20   20  OtherPersonsRegularlyEmployed_17     REAL        0       None   0
 21   21           NotRegularlyEmployed_18     REAL        0       None   0
 22   22         RegularlyEmployedTotal_19     REAL        0       None   0
 23   23              FamilyLabourTotal_20     REAL        0       None   0
 24   24                         Holder_21     REAL        0       None   0
 25   25                         Spouse_22     REAL        0       None   0
 26   26                  FamilyWorkers_23     REAL        0       None   0
 27   27           NonFamilyLabourTotal_24     REAL        0       None   0
 28   28                        Manager_25     REAL        0       None   0
 29   29  OtherPersonsRegularlyEmployed_26     REAL        0       None   0
 30   30           NotRegularlyEmployed_27     REAL        0       None   0,
 '85636ENG':    cid                    name     type  notnull dflt_value  pk
 0    0                      ID  INTEGER        0       None   0
 1    1             ArableCrops     TEXT        0       None   0
 2    2                 Regions     TEXT        0       None   0
 3    3                 Periods     TEXT        0       None   0
 4    4  AreaUnderCultivation_1     REAL        0       None   0
 5    5         HarvestedArea_2     REAL        0       None   0
 6    6       GrossYieldPerHa_3     REAL        0       None   0
 7    7       GrossYieldTotal_4     REAL        0       None   0,
 '37738ENG':    cid            name     type  notnull dflt_value  pk
 0    0              ID  INTEGER        0       None   0
 1    1      Vegetables     TEXT        0       None   0
 2    2        Periodes     TEXT        0       None   0
 3    3    GrossYield_1     REAL        0       None   0
 4    4  CroppingArea_2  INTEGER        0       None   0,
 '83981ENG':     cid                                  name     type  notnull dflt_value  pk
 0     0                                    ID  INTEGER        0       None   0
 1     1                    ManureAndNutrients     TEXT        0       None   0
 2     2                               Periods     TEXT        0       None   0
 3     3                      TotalExcretion_1     REAL        0       None   0
 4     4              ExcretionDuringHousing_2     REAL        0       None   0
 5     5              ExcretionDuringGrazing_3     REAL        0       None   0
 6     6                TotalNitrogenLossesN_4     REAL        0       None   0
 7     7                   AmmoniaEmissionsN_5     REAL        0       None   0
 8     8         OtherGaseousNitrogenLossesN_6     REAL        0       None   0
 9     9               EffluentAirScrubbersN_7     REAL        0       None   0
 10   10  StoredManureAndManureDuringGrazing_8     REAL        0       None   0
 11   11              ManureRemovalFromFarms_9     REAL        0       None   0
 12   12                ManureSupplyToFarms_10     REAL        0       None   0
 13   13    ProcessedManureExcludingExports_11     REAL        0       None   0
 14   14                   NetManureExports_12     REAL        0       None   0
 15   15             SpreadingAreaForManure_13     REAL        0       None   0
 16   16  UseOfLivestockManureInAgriculture_14     REAL        0       None   0,
 '84952ENG':    cid         name     type  notnull dflt_value  pk
 0    0           ID  INTEGER        0       None   0
 1    1  FarmAnimals     TEXT        0       None   0
 2    2      Periods     TEXT        0       None   0
 3    3  Livestock_1  INTEGER        0       None   0,
 '7425eng':     cid                 name     type  notnull dflt_value  pk
 0     0                   ID  INTEGER        0       None   0
 1     1              Periods     TEXT        0       None   0
 2     2             Volume_1  INTEGER        0       None   0
 3     3         FatContent_2     REAL        0       None   0
 4     4     ProteinContent_3     REAL        0       None   0
 5     5             Butter_4  INTEGER        0       None   0
 6     6             Cheese_5  INTEGER        0       None   0
 7     7    TotalMilkPowder_6  INTEGER        0       None   0
 8     8    WholeMilkPowder_7  INTEGER        0       None   0
 9     9  SkimmedMilkPowder_8  INTEGER        0       None   0
 10   10   ConcentratedMilk_9  INTEGER        0       None   0
 11   11        WheyPowder_10     REAL        0       None   0,
 '84312ENG':    cid                  name     type  notnull dflt_value  pk
 0    0                    ID  INTEGER        0       None   0
 1    1        EducationLevel     TEXT        0       None   0
 2    2     FieldsOfEducation     TEXT        0       None   0
 3    3  CaribbeanNetherlands     TEXT        0       None   0
 4    4               Periods     TEXT        0       None   0
 5    5         MBOstudents_1     REAL        0       None   0,
 '84732ENG':    cid                      name     type  notnull dflt_value  pk
 0    0                        ID  INTEGER        0       None   0
 1    1                    Gender     TEXT        0       None   0
 2    2      PupilCharacteristics     TEXT        0       None   0
 3    3      CaribbeanNetherlands     TEXT        0       None   0
 4    4                   Periods     TEXT        0       None   0
 5    5  ParticipantsEnStudents_1     REAL        0       None   0,
 '81154eng':     cid                            name     type  notnull dflt_value  pk
 0     0                              ID  INTEGER        0       None   0
 1     1            CaribbeanNetherlands     TEXT        0       None   0
 2     2                         Periods     TEXT        0       None   0
 3     3   TotalHouseholdsAndCompanies_1     REAL        0       None   0
 4     4                         Total_2     REAL        0       None   0
 5     5                       Prepaid_3     REAL        0       None   0
 6     6                      Postpaid_4     REAL        0       None   0
 7     7                     Companies_5     REAL        0       None   0
 8     8                         Total_6     REAL        0       None   0
 9     9                        Fossil_7     REAL        0       None   0
 10   10                     Renewable_8     REAL        0       None   0
 11   11                    OilTransit_9     REAL        0       None   0
 12   12  TotalHouseholdsAndCompanies_10     REAL        0       None   0
 13   13                   Households_11     REAL        0       None   0
 14   14                    Companies_12     REAL        0       None   0
 15   15                   Production_13     REAL        0       None   0,
 '85799ENG':     cid                           name     type  notnull dflt_value  pk
 0     0                             ID  INTEGER        0       None   0
 1     1           CaribbeanNetherlands     TEXT        0       None   0
 2     2                        Periods     TEXT        0       None   0
 3     3                   Production_1     REAL        0       None   0
 4     4  LossesStatisticalDifference_2     REAL        0       None   0
 5     5  TotalHouseholdsAndCompanies_3     REAL        0       None   0
 6     6                   Households_4     REAL        0       None   0
 7     7                    Companies_5     REAL        0       None   0
 8     8  TotalHouseholdsAndCompanies_6     REAL        0       None   0
 9     9                   Households_7     REAL        0       None   0
 10   10                    Companies_8     REAL        0       None   0,
 '82291ENG':     cid                                     name     type  notnull dflt_value  \
 0     0                                       ID  INTEGER        0       None
 1     1                  PersonalCharacteristics     TEXT        0       None
 2     2                             TypeOfFigure     TEXT        0       None
 3     3                     CarribeanNetherlands     TEXT        0       None
 4     4                                  Periods     TEXT        0       None
 5     5                         GoodOrVeryGood_1     REAL        0       None
 6     6                           LessThanGood_2     REAL        0       None
 7     7                          DiabetesTotal_3     REAL        0       None
 8     8                          DiabetesType1_4     REAL        0       None
 9     9                          DiabetesType2_5     REAL        0       None
 10   10               DisorderInNeckOrShoulder_6     REAL        0       None
 11   11            AsthmaChronicBronchitisCOPD_7     REAL        0       None
 12   12                            Chikungunya_8     REAL        0       None
 13   13                          ChronicEczema_9     REAL        0       None
 14   14                      ChronicArthritis_10     REAL        0       None
 15   15  SeriousPersistentIntestinalDisorders_11     REAL        0       None
 16   16                    DizzinessWithFalls_12     REAL        0       None
 17   17                ArthrosisOfHipsOrKnees_13     REAL        0       None
 18   18                          Hypertension_14     REAL        0       None
 19   19                                Dengue_15     REAL        0       None
 20   20              MigraineOrSevereHeadache_16     REAL        0       None
 21   21                          Incontinence_17     REAL        0       None
 22   22       SeriousOrPersistentBackDisorder_18     REAL        0       None
 23   23   ConstrictionBloodVesselsAbdomenLegs_19     REAL        0       None
 24   24                                  Zika_20     REAL        0       None
 25   25                        OtherDisorders_21     REAL        0       None
 26   26   StrokeCerebralHaemorrhageInfarction_22     REAL        0       None
 27   27                  MyocardialInfarction_23     REAL        0       None
 28   28              OtherSeriousHeartDisease_24     REAL        0       None
 29   29                                Cancer_25     REAL        0       None
 30   30                WithNoLongTermDisorder_26     REAL        0       None
 31   31                 With1LongTermDisorder_27     REAL        0       None
 32   32                With2LongTermDisorders_28     REAL        0       None
 33   33          With3OrMoreLongTermDisorders_29     REAL        0       None

     pk
 0    0
 1    0
 2    0
 3    0
 4    0
 5    0
 6    0
 7    0
 8    0
 9    0
 10   0
 11   0
 12   0
 13   0
 14   0
 15   0
 16   0
 17   0
 18   0
 19   0
 20   0
 21   0
 22   0
 23   0
 24   0
 25   0
 26   0
 27   0
 28   0
 29   0
 30   0
 31   0
 32   0
 33   0  ,
 '82292ENG':     cid                                name     type  notnull dflt_value  pk
 0     0                                  ID  INTEGER        0       None   0
 1     1             PersonalCharacteristics     TEXT        0       None   0
 2     2                        TypeOfFigure     TEXT        0       None   0
 3     3                CarribeanNetherlands     TEXT        0       None   0
 4     4                             Periods     TEXT        0       None   0
 5     5                           Smokers_1     REAL        0       None   0
 6     6       HeavySmokersInThePopulation_2     REAL        0       None   0
 7     7          HeavySmokersAmongSmokers_3     REAL        0       None   0
 8     8                      DailySmokers_4     REAL        0       None   0
 9     9         CigarettesPerDayPerPerson_5     REAL        0       None   0
 10   10         CigarettesPerDayPerSmoker_6     REAL        0       None   0
 11   11                         NoAlcohol_7     REAL        0       None   0
 12   12                      HeavyDrinker_8     REAL        0       None   0
 13   13                  ExcessiveDrinker_9     REAL        0       None   0
 14   14              GuidelineAlcoholUse_10     REAL        0       None   0
 15   15                        PerPerson_11     REAL        0       None   0
 16   16                       PerDrinker_12     REAL        0       None   0
 17   17                   ReportedLength_13     REAL        0       None   0
 18   18                 SmallerThan160Cm_14     REAL        0       None   0
 19   19                     k_160To170Cm_15     REAL        0       None   0
 20   20                     k_170To180Cm_16     REAL        0       None   0
 21   21         LargerThanOrEqualTo180Cm_17     REAL        0       None   0
 22   22                   ReportedWeight_18     REAL        0       None   0
 23   23                  LighterThan60Kg_19     REAL        0       None   0
 24   24                       k_60To70Kg_20     REAL        0       None   0
 25   25                       k_70To80Kg_21     REAL        0       None   0
 26   26                       k_80To90Kg_22     REAL        0       None   0
 27   27         HeavierThanOrEqualTo90Kg_23     REAL        0       None   0
 28   28                      Underweight_24     REAL        0       None   0
 29   29                     NormalWeight_25     REAL        0       None   0
 30   30                       Overweight_26     REAL        0       None   0
 31   31               ModerateOverweight_27     REAL        0       None   0
 32   32                 SevereOverweight_28     REAL        0       None   0
 33   33  UseOfContraceptivePill1549Years_29     REAL        0       None   0,
 '82293ENG':     cid                                  name     type  notnull dflt_value  pk
 0     0                                    ID  INTEGER        0       None   0
 1     1               PersonalCharacteristics     TEXT        0       None   0
 2     2                          TypeOfFigure     TEXT        0       None   0
 3     3                  CarribeanNetherlands     TEXT        0       None   0
 4     4                               Periods     TEXT        0       None   0
 5     5          PersonsWithAtLeast1Contact_1     REAL        0       None   0
 6     6   AverageNumberOfContactsPopulation_2     REAL        0       None   0
 7     7   AverageNumberOfContactsPerPatient_3     REAL        0       None   0
 8     8                   IslandOfResidence_4     REAL        0       None   0
 9     9                OtherIslandOrCountry_5     REAL        0       None   0
 10   10          PersonsWithAtLeast1Contact_6     REAL        0       None   0
 11   11   AverageNumberOfContactsPopulation_7     REAL        0       None   0
 12   12   AverageNumberOfContactsPerPatient_8     REAL        0       None   0
 13   13                   IslandOfResidence_9     REAL        0       None   0
 14   14               OtherIslandOrCountry_10     REAL        0       None   0
 15   15         PersonsWithAtLeast1Contact_11     REAL        0       None   0
 16   16  AverageNumberOfContactsPopulation_12     REAL        0       None   0
 17   17  AverageNumberOfContactsPerPatient_13     REAL        0       None   0
 18   18                  IslandOfResidence_14     REAL        0       None   0
 19   19               OtherIslandOrCountry_15     REAL        0       None   0
 20   20         PersonsWithAtLeast1Contact_16     REAL        0       None   0
 21   21  AverageNumberOfContactsPopulation_17     REAL        0       None   0
 22   22  AverageNumberOfContactsPerPatient_18     REAL        0       None   0
 23   23                  IslandOfResidence_19     REAL        0       None   0
 24   24               OtherIslandOrCountry_20     REAL        0       None   0
 25   25          PersonsWithOvernightStays_21     REAL        0       None   0
 26   26    NumberOfAdmissionsPer100Persons_22     REAL        0       None   0
 27   27   NumberOfAdmissionsPer100Patients_23     REAL        0       None   0
 28   28                  IslandOfResidence_24     REAL        0       None   0
 29   29               OtherIslandOrCountry_25     REAL        0       None   0
 30   30            PersonsWithDayAdmission_26     REAL        0       None   0
 31   31   NumberOfDayAdmissionsP100Persons_27     REAL        0       None   0
 32   32  NumberOfDayAdmissionsP100Patients_28     REAL        0       None   0
 33   33                  IslandOfResidence_29     REAL        0       None   0
 34   34               OtherIslandOrCountry_30     REAL        0       None   0
 35   35         PersonsWithAtLeast1Contact_31     REAL        0       None   0
 36   36      NumberOfContactsPer100Persons_32     REAL        0       None   0
 37   37     NumberOfContactsPer100Patients_33     REAL        0       None   0
 38   38                  IslandOfResidence_34     REAL        0       None   0
 39   39               OtherIslandOrCountry_35     REAL        0       None   0
 40   40        PrescribedMedicinesIn14Days_36     REAL        0       None   0
 41   41     NonPrescribedMedicinesIn14Days_37     REAL        0       None   0,
 '82866ENG':     cid                                    name     type  notnull dflt_value  \
 0     0                                      ID  INTEGER        0       None
 1     1                 PersonalCharacteristics     TEXT        0       None
 2     2                                Accuracy     TEXT        0       None
 3     3                    CaribbeanNetherlands     TEXT        0       None
 4     4                                 Periods     TEXT        0       None
 5     5                        HappinessScore_1     REAL        0       None
 6     6                               Unhappy_2     REAL        0       None
 7     7                    NotHappyNotUnhappy_3     REAL        0       None
 8     8                                 Happy_4     REAL        0       None

In [7]:
data.get_database_schema2()

DatabaseError: Execution failed on sql 'SELECT name, type, sql
            FROM sqlite_master
            WHERE type IN ('table', 'view')
            ORDER BY name;" ': You can only execute one statement at a time.